*, html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 25%;
    height: 100%;
    background: rgba(225, 234, 236, 0.695);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #ddd;
    position: fixed;
    overflow-y: auto;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile h1 {
    text-align: center;
    font-size: 1.8em;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

.profile p {
    text-align: center;
    color: #777;
    margin-bottom: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #f0f0f0;
}

footer {
    font-size: 0.9em;
    color: #777;
    text-align: center;
    margin-top: 40px;
}

footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

footer .social a {
    margin: 0 10px;
    color: #333;
    transition: transform 0.3s;
}

footer .social a:hover {
    transform: scale(1.2);
}

footer .cp {
    margin-top: 20px;
}

.main-content {
    margin-left: 27%;
    width: 73%;
    background: #ffffff;
    padding: 40px;
    overflow-y: auto;
}

.home h1 {
    padding-top: 20px;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: right;
    font-weight: bold;
}

.home p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

.news {
    margin-top: 30px;
}

.news h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

.news-content {
    display: flex;

}



.main-content .projects {
    width: 100%;
}

.galeri {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    
}

.galeri a {
    text-decoration: none;
    font-weight: bold;
}

.galeri img {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s;
}




.galeri img:hover {
    transform: scale(1.05);
}

.galeri p {
    text-align: center;
    margin-top: 10px;
    color: #333; 
    transition: transform 0.3s;
}

.galeri p:hover {
    transform: scale(1.05);
}



.projects h1 {
            text-align: center;
            font-size: 1.8em;
            margin: 10px 0 5px;
            font-weight: bold;
            color: #333;
            padding: 10px;
        
}

.news-content .newskiri {
    font-size: 1.2em;
  
    background-color: rgba(244, 245, 248, 0.688);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: justify   ;
}

.news-content .newskanan {
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    

}


.news-content ul {
    list-style: none;
    padding: 0;
}

.news-content li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}

.usv {
    padding: 20px;
 
}

.usv h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;

}
.contribution {
    font-weight: bold;
}

.contribution a{
    font-weight: bold;
    color: #a11616;

}

.usv p {
    text-align: justify;
    margin: 10px 0; 
}
.skills {
    font-weight: bold;
}

.usv ul li{
    margin-left: 30px;
    margin-bottom: 5px;
    list-style: circle;
}


.education {
    padding: 20px;
    background-color: #fff;

    margin-bottom: 20px;
}

.education h1 {
    font-size: 30PX;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.education-item {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.education-item h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 0 0 5px;
}

.education-item span {
    display: block;
    font-size: 1em;
    color: #777;
}

.exp h1 {
    padding-top: 20px;
    font-size: 1.8em;
    margin-left: 15px;
    font-weight: bold;
}

.timeline {
    position: relative;
    max-width: 800px;
    padding: 0px;
}

.timeline-item {
    position: relative;
    padding: 20px 0;
    border-left: 3px solid #3a3a3a;
    margin-left: 20px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -13px;
    top: 30px;
    width: 20px;
    height: 20px;
    background-color: #3a3a3a;
    border-radius: 50%;
    border: 3px solid #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-item .content {
    margin-left: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-item h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.timeline-item span {
    display: block;
    font-size: 0.9em;
    color: #777;
    margin-bottom: 5px;
}

.timeline-item p {
    margin-bottom: 3px;
    font-size: 1em;
    color: #555;
}

.timeline-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline-item ul li {
    margin-bottom: 10px;
    text-align: jus;
    list-style:disc;
    margin-left: 20px;
}



.image-container {
    display: flex;
    justify-content:space-around;
    margin: 20px 0;
}

.image-container img {
    width: 20%;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-container-snellie img{
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    width: 40%;
}

.image-container-snellie1 img {
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 30%;
    margin-left: 100px;
    border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     
}

.image-container-hidro img{
    width: 60%;
    margin-left: 20%;
    border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

video-container iframe {
    width: 48%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .sidebar {
        position: static;
        width: 100%;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

        
        .video-container {
            flex-direction: column;
        }
    
    
        .video-container iframe {
            width: 100%;
            margin: 10px 0;
        }
}